* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

#root {
  width: 60rem;
  height: 25rem;
  margin: 0rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

#sep {
  width: 16px;
}

.convert-messages {
  width: 60rem;
  height: 10rem;
  margin: 0rem auto;
  border: 2px solid red;
}

.upload-file {
  border: 2px solid black;
}

#converted-text {
  width: 60rem;
  height: 10rem;
  margin: 0rem auto;
  border: 2px solid blue;
}
