* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

.container {
}

.change-ui {
  font-size: 2rem;
  text-align: center;
  margin: 5rem 0rem;
  display: flex;
  justify-content: space-around;
}

.change-image {
  cursor: pointer;
}

.change-video {
  cursor: pointer;
}
.converter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

.title {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0rem;
}

.root {
  width: 60rem;
  height: 21rem;
  margin: 0rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  margin-bottom: 1rem;
  padding: 1rem;
}

#sep {
  width: 16px;
}

.convert-messages {
  width: 60rem;
  height: 10rem;
  margin: 0rem auto;
  border: 1px solid #000000;
  overflow: auto;
  margin-bottom: 1rem;
  padding: 1rem;
}

.upload {
  display: flex;
  flex-direction: column;
  margin-right: 1.8rem;
}

.text {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.file {
  border: 1px solid #000000;
  padding: 0.5rem;
  cursor: pointer;
}

.convert-text {
  width: 60rem;
  height: 10rem;
  margin: 0rem auto;
  border: 1px solid #000000;
  overflow: auto;
  padding: 1rem;
}
